body{
    background-color: #4ABDAC;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h3{
    text-align: center;
    color: #F7B733;
}

hr{
    color: #FC4A1A;
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.nytimes-container {
    padding: 10px;
    margin-right:300px;
    background-color: rgba(255,255,255,0.7);
    color: black;
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
    color: black;
}
.article:first-child {
    border-top:none;
}